#container{
  margin: auto;
  background-color: grey;
  display: inline-block;
  column-count: 16;


}


.gridsquare{
  background-color: white;
  padding: 20px;
  display: inline-block;
  min-width: 20px;


}

.gridsquare:hover{
  background-color: black;
}

.gridsquare:active{
  background-color: black;
}
