#container{
  margin: auto;
  background-color: grey;
  width = 50%;

}

.row{
  display: inline-block;
  text-align: center;
}

.gridsquare{
  background-color: white;
  padding: 20px;
  display: inline-block;


}
