body{
  background-color: #cec4c4;

}

header{
  text-align: center;
  font-style: italic;
}

footer{
  margin: 10px;
  text-align: center;
  font-style: italic;
}
#buttonContainer{
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

#outerBoarder{
  border-radius: 10px;
  background-color: #A89999;
  width: 600px;
  height: 600px;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 2px 2px grey;

}


#container{
  margin: 0 auto;
  background-color: grey;
  width: 550px;
  height: 550px;
  max-width: 100%;
  max-height: 100%;


}

#background{
	display: flex;
	align-items: center;
	justify-content: center;

}


.gridsquare{
  background-color: white;
  float: left;
	vertical-align: top;
  box-sizing: border-box;
	border: 1px solid rgba(0,0,0,0.3);



}
.hover{
  background-color: black;
  padding: 20px;
  display: inline-block;
  min-width: 20px;

}

input{
  margin: 10px;
  text-align: center;
  padding: 10px;
  display: block;
  font-style: italic;
  font-size: 16px;
  box-shadow: 2px 2px grey;
  background-color: #857070;
  border: none;
  border-radius: 10px;

}
